<!DOCTYPE html>
<html>
  <head>
    <title>Blog API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>The Rolling Rocks</h1>
    <p>Welcome to The Rolling Rocks</p>
  </body>
</html>
